---
import TagList from "@components/TagList.astro";
import Layout from "@layouts/Layout.astro";
import { getPosts, relativeTime } from "@lib/utils";

const posts = getPosts().filter(p => p.published)
---

<Layout title="Blog - David (davru) Sanchez" description="Blog page for davru.dev where I will be publishing updates for my projects, tips and tricks and other code related articles... or that's what I expect at least :^D">
	<div class="blog-list__wrapper">
	  {posts.map((post) => (
	    <div class="blog-list__post">
	      <header>
					<h3>
	        	<a href={`/blog/${post.slug}`} class="blog-list__post_title">{ post.title }</a>
	        </h3>
	      </header>

	      <main>{post.summary} <a href={`/blog/${post.slug}`} class="blog-list__post_footer__read-more">read more...</a></main>

	      <footer>
          <time>{ relativeTime(post.date) }</time>
	        <TagList tags={post.tags}></TagList>
	      </footer>
	    </div>
	  ))}
	</div>
</Layout>

<style>
	.blog-list__wrapper {
	  padding: 6rem 1.75rem 5rem 1.75rem;
	  max-width: 100%;
	  color: var(--text-color);
	}

	.blog-list__wrapper time {
	  font-size: .85em;
	  color: var(--color-text-secondary);
	}

	.blog-list__post {
  	width: 700px;
   	max-width: 100%;
	  margin: 0 auto;
	}

	.blog-list__post header {
	  margin: 1.5rem 0;
	}

	.blog-list__post header h3 {
	  font-size: 1.25rem;
	}

	.blog-list__post main {
	  font-size: .85em;
	  line-height: 1.5em;
	  margin-bottom: 1.75em;
	}

	.blog-list__post footer {
		display: flex;
  	flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;
	}

	.blog-list__post_footer__read-more {
	  color: var(--color-text-main);
	  font-weight: bold;
	}

	.blog-list__post_footer__read-more:hover {
	  text-decoration: line-through;
	}

	@media (min-width: 600px) {
		.blog-list__post header h3 {
	  	font-size: 1.5rem;
		}

  	.blog-list__wrapper {
   		padding: 9rem 2.2rem 5rem 2.2rem;
	  }

	  .blog-list__post header .blog-list__post_title:hover {
	    text-decoration: line-through;
	  }

	  .blog-list__post_footer__more {
	    width: auto;
	    margin-top: 0;
	  }
	}
</style>
