---
import Layout from '@layouts/Layout.astro';
---

<Layout title="David (davru) Sanchez" description="Full-stack web developer crafting engaging, high-performance web apps with a focus on design and seamless user experiences.">
  <section class="about">
    <header class="about-header">
      <span>Hi, my name is</span>
      <h2>David Sánchez.</h2>
      <h3>I create solutions for the web.</h3>
    </header>
    <article class="about-resume">
      <p>I'm a full-stack web developer who loves turning ideas into interactive, user-friendly experiences. With a passion for clean design and performance, I build web apps that not only look great but run smoothly.</p>
      <p>A <span>JavaScript</span> enthusiast, I’m always exploring new tools and challenges to keep pushing my skills forward. Currently honing my craft at <span>Innovation Group</span>.</p>
    </article>
  </section>
</Layout>

<style>
	.about {
		height: calc(100vh - 4rem);
		height: calc(100dvh - 4rem);
		display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 820px;
    padding: 4rem 1.75rem 0 1.75rem;
    margin: 0 auto;
    color: var(--text-color);
	}

  .about-header span {
    font-size: 1.1rem;
    color: var(--color-text-main);
  }

  .about-header h2, .about-header h3 {
    margin-top: 1rem;
    font-family: var(--title-fonts);
    opacity: 0.95;
    font-size: clamp(1rem, 4.3rem, 10vw);
    text-indent: -0.15rem;
  }

  .about-header h3 {
    opacity: 0.6;
    margin: 0 0 1rem 0;
  }

  .about-resume p, .about-resume span {
    line-height: 1.5;
    font-size: 0.85rem;
  }

  .about-resume p {
    margin-top: 1.25rem;
    opacity: 0.9;
  }

  .about-resume p > span {
  	color: var(--color-text-main);
  }

  @media (min-width: 1200px) {
	  .about {
	    width: 1048px;
		}
  }

  @media (min-width: 725px) {
    .about-header h2, .about-header h3 {
    	text-indent: -0.25rem;
    }
  }

  @media (min-width: 600px) {
  	.about {
   		padding: 4rem 2.2rem 0 2.2rem;
    }

    .about-resume p, .about-resume span {
    	font-size: 0.95rem;
    }
  }
</style>
