---
import Layout from '../layouts/Layout.astro';
---

<Layout title="David (davru) Sanchez - Fullstack web developer">
  <section class="about">
    <header class="about-header">
      <span>Hi, my name is</span>
      <h2>David Sánchez.</h2>
      <h3>I create solutions for the web.</h3>
    </header>
    <article class="about-resume">
      <p>I'm a web developer focused on creating engaging and interactive experiences. I have a strong eye for design and a deep understanding of optimizing web apps thanks to my experience working with different technologies.</p>
      <p>Just a <span>JavaScript</span> lover with a focus on creativity and results, always seeking new challenges to grow my skills. Currently working for <span>Innovation Group</span>.</p>
    </article>
  </section>
</Layout>

<style>
	.about {
		height: 100vh;
		height: 100dvh;
		display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 820px;
    padding: 0 1.75rem;
    margin: 0 auto;
    color: var(--text-color);
	}

  .about-header span {
    font-size: 1.1rem;
    color: var(--color-text-main);
  }

  .about-header h2, .about-header h3 {
    margin-top: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.95;
    font-size: clamp(1rem, 4.3rem, 10vw);
    text-indent: -0.15rem;
  }

  .about-header h3 {
    opacity: 0.6;
    margin: 0 0 1rem 0;
  }

  .about-resume p, .about-resume span {
    font-family: var(--system-fonts);
    line-height: 1.75;
    font-size: 0.9rem;
  }

  .about-resume p {
    margin-top: 1.25rem;
    opacity: 0.9;
  }

  .about-resume p > span {
  	color: var(--color-text-main);
  }

  @media (min-width: 1200px) {
	  .about {
	    width: 1048px;
		}
  }

  @media (min-width: 725px) {
    .about-header h2, .about-header h3 {
    	text-indent: -0.25rem;
    }
  }

  @media (min-width: 600px) {
  	.about {
    	padding: 0 2.2rem;
    }

    .about-resume p, .about-resume span {
    	font-size: 1rem;
    }
  }
</style>
